/* body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    margin: 40px 0px;
    border-color: red;
}

.form-control input {
    padding: 10px;
}

.form-control.success input {
    border-color: greenyellow;
}

.form-control.error input {
    border-color: red;
}

.form-control small {
    visibility: hidden;
    color: #e74c3c;

    margin-top: 150px;
}

.form-control.error small {
    visibility: visible;
} */
